<div class="flex-box container">
  <div class="col-lg-4">
    <h3> Do you want to book this board? </h3>
      <h4>Booking Dates</h4>
        <%= simple_form_for @board do |f|  %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Set dates" %>
      <% end %>
    </div>

      <div class="col-lg-4 col-lg-offset-2" style="margin-top:100px;">
        <div>
          <h4>Booking Details </h4>
          <p> Board : <%=  @board.name %></p>
          <p> Description : <%= @board.description %></p>
          <p> Dates : <%= @board.start_date %> <%= @board.end_date %></p>
          <p> Price : <%= @board.price %></p>
        </div>
        <h4> Payment Details </h4>
        <p> credit card stuff</p>
        <p> card holder </p>
        <p> card dates</p>
        <p> <%= link_to "Button to link to update(patch)/Create booking)", board_path(@board) %></p>
      </div>
</div>
