<div>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,120,0.6) 0%, rgba(0,36,61,0.1) 30%), url('https://res.cloudinary.com/dfowktpgu/image/upload/v1534176779/8812177072_8022fe51f0_k.jpg');">
    <div class="container banner-content">
      <h1>Boards R' Us</h1>
      <h2>Snow, Skate, Surf - anywhere, anytime</h2>


    </div>
    <div class="container Search-form">


      <%= form_tag boards_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          label: "Category",
          placeholder: "Find a board category" %>
        <% end %>
        <br>
        <%= submit_tag "Search Board" %>
    </div>

  </div>

  <div class="container">
    <h3>Available Boards:</h3>

    <h4>Snow</h4>
    <div class="scrolling-wrapper">

      <% snow = @boards.select { |board| board.category == "Snowboard"} %>
      <% snow.each do |board|%>
      <div class="card">

        <div class="card-outline">
          <div class="card-content card-image">

          </div>
          <div class="card-content card-body">
            <%= board.name %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <h4>Skate</h4>
    <div class="scrolling-wrapper">
      <% skate = @boards.select { |board| board.category == "Skateboard"} %>
      <% skate.each do |board|%>

      <div class="card">

        <div class="card-outline">
          <div class="card-content card-image">

          </div>
          <div class="card-content card-body">
            <%= board.name %>
          </div>
        </div>
      </div>
      <% end %>
     </div>

    <h4>Surf</h4>
    <div class="scrolling-wrapper">
      <% surf = @boards.select { |board| board.category == "Surfboard"} %>
      <% surf.each do |board|%>

      <div class="card">

        <div class="card-outline">
          <div class="card-content card-image">

          </div>
          <div class="card-content card-body">
            <%= board.name %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!--       <div class="cards">
        <h4>Surf</h4>

          <#% surf = @boards.select { |board| board.category == "Surfboard"} %>
          <#% surf.each do |board|%>
              <%#= board.name %>
          <#% end %>
      </div> -->

