<div>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,120,0.6) 0%, rgba(0,36,61,0.1) 30%), url('https://res.cloudinary.com/dfowktpgu/image/upload/v1534176779/8812177072_8022fe51f0_k.jpg');">
    <div class="container banner-content">
      <h1>Boards R' Us</h1>
      <h2>Snow, Skate, Surf - anywhere, anytime</h2>


    </div>
  </div>






<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="header-board-details">

          <div class="header-board-name">
            <h1 id="name">
             <strong>
              <%= @board.name %>
            </strong>
            </h1>
            <i class="fas fa-map-pin" id="location"></i>
              <%= @board.location %></i> <br>
            <i class="fa fa-angle-right" id="category">
              <%= @board.category %>
            </i>
            <br>
          </div>
          <div class="description">
            <p>
              <%= @board.description %>
            </p>
          </div>
        </div>
      </div>
      <div class="booking-container">
      <div class="col-xs-12 col-sm-4">
        <form action="#" >
          <h4><strong>
                $<%= @board.price %> per day
              </strong>
            </h4>
          <div class="form-group">
            <div>
              <input type="text" class="form-control" placeholder="from" id="from">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="to" id="to">
            </div>
          </div>
          <input type="submit" class="btn btn-danger" value="Book My Board" style="width: 100%">
        </form>
      </div>
      </div>
    </div>
  </div>
</div>




