<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,120,0.6) 0%, rgba(0,36,61,0.1) 30%), url('https://res.cloudinary.com/dfowktpgu/image/upload/v1534176779/8812177072_8022fe51f0_k.jpg');">
  <div class="container banner-content">
    <h1>Boards R' Us</h1>
    <h2>Snow, Skate, Surf - anywhere, anytime</h2>
  </div>
</div>

  <div class="container wrapper-height">
    <div class="flex-col wrapper-heading-show">
        <h1 id="name">
           <strong>
            <%= @board.name %>
          </strong>
        </h1>
        <div class="location">
          <i class="fas fa-map-pin" id="location">
            <%= @board.location %></i>

        </div>
        <div class="category">
          <i class="fa fa-angle-right" id="category">
            <%= @board.category %>
          </i>
        </div>
      <div class="description-show">
         <p>
            <%= @board.description %>
          </p>
      </div>
    </div>
    <div class="flex-col wrapper-price-show">
       <form action="#" class="form-show" >
          <h4>
            <strong>
              $<%= @board.price %> per day
            </strong>
          </h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="from" id="from">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="to" id="to">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Book My Board" style="width: 100%">
          </div>
        </form>
    </div>
  </div>
