<div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 0%), url(<%= @board.photo %>);">
  <div class="show-banner-content">
    <h2 class="show-h2"><%= @board.name %></h2>
  </div>
</div>

<div class="flex-container">
  <div class="details-container">
    <br>
    <div class="map">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
    <br>

    <div class="board-details">
      <div class="category">
       <p>Enjoy your <%= @board.category %>!</p>
      </div>
      <div class="description-show">
        <p><%= @board.description %></p>
      </div>
    </div>

    <div class="review-details">
      <h3 class="h3-no-margin">Reviews:</h3>
      <%@board.reviews.each do |review| %>
      <div class="review-box">
        <p> <%= review.content %> </p>
        <% review.rating.times do %>
        <i class="fas fa-star"></i>
        <% end %></p>
      </div>
      <% end %>
    </div>
  </div>

<div class="booking-box">
  <div class="flex-item-booking">
    <div class="booking-details">
      <h4>Booking Details</h4>

      <div>
        <form action="#" class="form-show" >
          <h4><strong>$<%= @board.price %>0 per day</strong></h4>
        </form>
      </div>
      <br>
      <%= simple_form_for [@board, @booking] do |f|  %>
      <%= f.label "From:" %>
      <%= f.date_field :start_date, :value => session[:time_start] %>
      <br>
      <br>
      <%= f.label "Until:" %>
      <%= f.date_field :end_date, :value => session[:time_end] %>
      <br>
      <br>
      <%= f.submit "Book" %>

      <br>
      <br>
    <!-- <%# conversations.receiver_id = @board.user%> -->
      <% if current_user.present? %>
      <%= link_to "Message the owner", conversation_messages_path(@conversation), class: "btn btn-primary"%>
      <% end %>
      <% end %>
    </div>
</div>


