
<div>
  <div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 0%), url(<%= @board.photo %>);">
    <div class="container banner-content">

      <h2 class="show-h2"><%= @board.name %></h2>

    </div>
  </div>
</div>

  <div class="container wrapper-height">
    <div class="flex-col wrapper-heading-show">
        <h1 id="name">
           <strong>
            <%= @board.name %>
          </strong>
        </h1>
        <div class="location">
          <i class="fas fa-map-pin" id="location">
            <%= @board.location %></i>


        </div>
        <div class="category">
          <i class="fa fa-angle-right" id="category">
            <%= @board.category %>
          </i>
        </div>
      <div class="description-show">
         <p>
            <%= @board.description %>
          </p>
      </div>
    </div>
    <div class="flex-col wrapper-price-show">
       <form action="#" class="form-show" >
          <h4>
            <strong>
              $<%= @board.price %> per day
            </strong>
          </h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="from" id="from">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="to" id="to">
          </div>
          <div class="form-group">
            <%= link_to "Book this board", new_board_booking_path(@board), class: "btn btn-danger"  %>
          </div>
           <div class="form-group">
             <%= link_to "Add a Review", new_board_review_path(@board), class: "btn btn-warning" %>
          </div>
        </form>
    </div>




  <div>
    <h3>Reviews:</h3>
    <%@board.reviews.each do |review| %>
    <div class="review-box">
      <p> <%= review.content %> </p>
      <% review.rating.times do %>
      <i class="fas fa-star"></i>
      <% end %></p>
    </div>
    <% end %>

  </div>


</div>

